# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/

# Node / Frontend
node_modules/
dist/
.tmp/
*.tsbuildinfo

# Database / Volumes
pgdata/
data_store/

# IDE / Editor config
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db
